<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Let's play some board games!</h1>
<h3>Log in here.</h3>

<form action="/login" method="post">
  <input type="text" name="username" value="username">
  <input type="password" name="password" value="password">
  <input type="submit" value="Log In">
</form>
