<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Wow! A brand new game?</h1>
<form action="/games/new" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="description" placeholder="description"><br><br>
  <label for="min_players">Player Minimum</label>
  <input type="number" name="min_players" min="1"max="10">
  <label for="min_players">Player Maximum</label>
  <input type="number" name="max_players" min="1" max="10"><br>
  <label for="party">Or it's a party game! (You can't put a max on my players, yo.)</label>
  <input type="checkbox" name="party"><br><br>
  <h2>Add this game?</h2>
  <input type="submit" value="Add Game">
</form>
<br><br>
<a id="home" href="/games/index">Back to your inventory.</a>
